<div class="container-fluid offer-section pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Offer</h4>
            <h1 class="display-5 mb-4">Benefits We Offer</h1>
            <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.
            </p>
        </div>

        {% set offers = [
            {'id': 'collapseOne', 'title': 'Lending money for investment of your new projects', 'image': 'offer-1.jpg'},
            {'id': 'collapseTwo', 'title': 'Lending money for investment of your new projects', 'image': 'offer-2.jpg'},
            {'id': 'collapseThree', 'title': 'Mobile payment is more flexible and easy for all investors', 'image': 'offer-3.jpg'},
            {'id': 'collapseFour', 'title': 'All transactions are free for members of pro traders', 'image': 'offer-4.jpg'}
        ] %}

        <div class="row g-5 align-items-center">
            <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="nav nav-pills bg-light rounded p-5">
                    {% for offer in offers %}
                        <a class="accordion-link p-4 {% if loop.first %}active{% endif %} mb-4" data-bs-toggle="pill" href="#{{ offer.id }}">
                            <h5 class="mb-0">{{ offer.title }}</h5>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.4s">
                <div class="tab-content">
                    {% for offer in offers %}
                        <div id="{{ offer.id }}" class="tab-pane fade {% if loop.first %}show active{% endif %} p-0">
                            <div class="row g-4">
                                <div class="col-md-7">
                                    <img src="{{ asset('img/' ~ offer.image) }}" class="img-fluid w-100 rounded" alt="{{ offer.title }}">
                                </div>
                                <div class="col-md-5">
                                    <h1 class="display-5 mb-4">The stock market provides a venue...</h1>
                                    <p class="mb-4">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis amet sequi molestiae tenetur eum mollitia, blanditiis, magnam illo magni error dolore unde perspiciatis tempore et totam corrupti dignissimos aut praesentium?
                                    </p>
                                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
